#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-5 H1 {
  color: #ffffff;
}
#header4-5 P {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2 .mbr-article {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box1-8 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-8 .mbr-article {
  color: #ffffff;
}
#msg-box1-9 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-9 .mbr-article {
  color: #fff;
}
#msg-box1-a .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-a .mbr-article {
  color: #fff;
}
#msg-box1-b .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-b .mbr-article {
  color: #fff;
}
#msg-box1-c .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-c .mbr-article {
  color: #fff;
}
#msg-box1-d .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-d .mbr-article {
  color: #fff;
}
#msg-box1-e .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-e .mbr-article {
  color: #fff;
}
#msg-box1-f .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-f .mbr-article {
  color: #000000;
}
#msg-box1-g .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-g .mbr-article {
  color: #000000;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-i DIV {
  font-size: 36px;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-k .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-l .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-m .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-n .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-n .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-n .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-o .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-o .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-q .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-r .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-r .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-s .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
